<main class="dark:bg-gray-800 bg-cover relative  h-screen" style="background-image: url(https://img.freepik.com/photos-premium/fleurs-roses-fond-rose_893755-563.jpg); background-repeat: no-repeat;">
    <header class="h-24 sm:h-32 flex items-center z-30 w-full">
        <div class="container mx-auto px-6 flex items-center justify-between">
        </div>
    </header>
    <div class=" dark:bg-gray-800 flex relative z-20 items-center overflow-hidden">
        <div class="container mx-auto px-6 flex relative py-16">
            <div class="sm:w-2/3 lg:w-2/5 flex flex-col relative z-20">
                <span class="w-20 h-2 bg-gray-800 mb-12">
                </span>
                <h1 class="font-bebas-neue uppercase text-4xl sm:text-6xl font-black flex flex-col leading-none dark:text-white text-gray-800">
                   Step into 
                    <span class="text-3xl sm:text-5xl">
                    the Floral Haven
                    </span>
                </h1>
                <p class="text-sm sm:text-base text-gray-700 dark:text-white">
                </p>
                <div class="flex mt-8">
                     <%= link_to "Read more", new_user_session_path, class:"uppercase py-2 px-4 rounded-lg bg-pink-500 border-2 border-transparent text-white text-md mr-4 hover:bg-pink-400"%>
                    <%= link_to "Read more", new_user_session_path, class:"uppercase py-2 px-4 rounded-lg bg-transparent border-2 border-pink-500 text-pink-500 dark:text-white hover:bg-pink-500 hover:text-white text-md"%>
                </div>
            </div>
            <div class="hidden sm:block sm:w-1/3 lg:w-3/5 relative">
            </div>
        </div>
    </div>
</main>